@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[class="dark"] {
  @apply bg-gray-700;
}

/* employee-layout */
.employee-layout > div {
  height: calc(100vh - 4rem);
}

/* Forms */
.input-group {
  @apply inline-flex;
}

select {
  @apply block appearance-none w-full bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 px-4 py-2 pr-8 leading-tight rounded-none capitalize;
}

select:hover {
  @apply border-gray-400;
}

select:focus {
  @apply outline-none;
}

select:disabled {
  @apply bg-gray-100 text-gray-400 dark:bg-gray-700 dark:text-gray-500 opacity-60;
  @apply border-gray-300 dark:border-gray-600;
  @apply cursor-not-allowed;
}